<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en-US">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
<h1>Design your taco!</h1>

<!-- Adding a dummy src removes warning from Intellij IDEA checker. It works, but is it worth it? -->
<img th:src="@{/images/TacoCloud.png}" alt="Taco Cloud logo" src="?" />

<!-- whenever a star appears in expression, we will operate on the "taco" model attribute -->
<!-- The IDE (Intellij IDEA) knows that ${taco} is implemented by the "Taco" session-backing bean -->

<form method="POST" th:object="${taco}">

    <span class="validationError"
          th:if="${#fields.hasErrors('ingredients')}"
          th:errors="*{ingredients}">Ingredient Error</span>

    <div class="grid">

        <!-- all ingredients found under key "wrap" in the SESSION MODEL
        their ids are captured in "ingredients", an array of string -->

        <div class="ingredient-group" id="wraps">
            <h3>Designate your wrap:</h3>
            <div th:each="ingredient : ${wrap}">
                <label>Designate your wrap
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id.raw}"/>
                </label>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <!-- all ingredients found under key "protein" in the SESSION MODEL
        their ids are captured in "ingredients", an array of string -->

        <div class="ingredient-group" id="proteins">
            <h3>Pick your protein:</h3>
            <div th:each="ingredient : ${protein}">
                <label>Pick your protein
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id.raw}"/>
                </label>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <!-- all ingredients found under key "protein" in the SESSION MODEL
        their ids are captured in "ingredients", an array of string -->

        <div class="ingredient-group" id="cheeses">
            <h3>Choose your cheese:</h3>
            <div th:each="ingredient : ${cheese}">
                <label>Choose your cheese
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id.raw}"/>
                </label>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <!-- all ingredients found under key "veggies" in the SESSION MODEL
        their ids are captured in "ingredients", an array of string -->

        <div class="ingredient-group" id="veggies">
            <h3>Determine your veggies:</h3>
            <div th:each="ingredient : ${veggies}">
                <label>Determine your veggies
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id.raw}"/>
                </label>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <!-- all ingredients found under key "sauces" in the SESSION MODEL
        their ids are captured in "ingredients", an array of string -->

        <div class="ingredient-group" id="sauces">
            <h3>Select your sauce:</h3>
            <div th:each="ingredient : ${sauce}">
                <label>Select your sauce
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id.raw}"/>
                </label>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

    </div>

    <div>
        <h3>Name your taco creation:</h3>
        <label>Name your taco creation
            <input type="text" th:field="*{name}"/>
        </label>
        <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        <br/>
        <button>Submit Your Taco</button>
    </div>

</form>
</body>
</html>

